@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}